#trader {
  flex: 1;
}

#trader input {
  border: 1px solid #dedede;
  padding: 0.5em 1em;
  border-radius: 3px;
  outline: none;
  margin-right: 0.5em;
}

button {
  border: none;
  background: none;
  padding: 1em 2em;
  border: 1px solid #dedede;
  border-radius: 3px;
  font-size: 1em;
  margin: 1em 1em 1em 0;
  outline: none;
  transition: all 0.5s;
}

button:hover {
  cursor: pointer;
  border-color: black;
}
